{
    "presets": [
        "react",
        [
            "env",
            {
                "target": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}